<h1 id="saludos" class="text-4xl font-bold text-white"></h1>
<h3 id="time" class="text-4xl font-bold text-white">--:--:--</h3>

<script>
    const time = document.getElementById("time");
    const saludos = document.getElementById("saludos");

    function getCurrentTime() {
        const currentDate = new Date();
        const hours = currentDate.getHours();
        const minutes = formatTime(currentDate.getMinutes());
        const seconds = formatTime(currentDate.getSeconds());
        let saludo = "";

        // Determinar el saludo dependiendo de la hora actual
        if (hours >= 6 && hours < 12) {
            saludo = "Buenos días 🌅";
        } else if (hours >= 12 && hours < 18) {
            saludo = "Buenas tardes 🌞";
        } else {
            saludo = "Buenas noches 🌙";
        }

        // Formato de 12 horas
        const format = hours >= 12 ? "PM" : "AM";
        const formattedHours = formatTime((hours % 12) || 12);

        // Actualizar el DOM
        saludos.innerHTML = saludo;
        time.innerHTML = `${formattedHours}:${minutes}:${seconds} ${format}`;
    }

    function formatTime(value) {
        return value < 10 ? `0${value}` : value;
    }

    // Actualizar cada segundo
    setInterval(getCurrentTime, 1000);

    // Inicializar
    getCurrentTime();
</script>
